.trending_now_container{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    padding: 30px 20px 20px;
}

.trending_head_cont{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.trending_head_text{
    font-size: calc(10px + 2vh);
    font-weight: var(--font-weigth700);
}

.trending_nav{
    width: fit-content;
    height: 30px;
    z-index: 3;
    position: relative;
}

.trending_navigation{
    width: fit-content;
    height: 100%;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    border: 2px solid black;
    font-size: 15px;
    font-weight: var(--font-weigth700);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.trending_navigation > span.nav_childs{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 4;
}

.nav_childs.active{
    color: white;
}

.nav_select{
    position: absolute;
    top: 0;
    width: 90px;
    height: 100%;
    display: grid;
    background: var(--tmdbDarkBlue);
    border-radius: 15px;
    z-index: -1;
    left: 0%;
    transition: left .4s linear;
}

.trending_contents{
    width: 100%;
    height: fit-content;
    position: relative;
    background-image: url("/images/MINI.png");
    background-size: contain;
    background-position: 0% 100%;
}

.trending_content_swiper{
    width: 100%;
    height: 330px;
    position: relative;
}

.swiper_cont{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    
}

.item_map{
    width: fit-content !important;
    height: fit-content !important;
}


.small_device_trending_nav{
    width: 100%;
    height: fit-content;
    display: none;
}


@media only screen and (max-width: 500px){

    .trending_nav{
        visibility: hidden;
        display: none;
    }

    .small_device_trending_nav{
        display: block;
    }

    .nav_childs.active{
        color: black;
    }
}