
.overHead{
    width: 100%;
    height: 100%;
    position: relative;
}

.mainHeadContainer{
    width: 100%;
    height: 100%;
    padding: var(--page_padding);
    background: rgba(var(--dark_blue), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
}

.leftHeadSide{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.logoSpan{
    font-size: var(--font-large);
    font-weight: var(--font-weigth900);
    cursor: pointer;
}

.headNavigator{
    width: fit-content;
    height: fit-content;
    display: flex;
    column-gap: 15px;
}

.navLinkHead{
    font-weight: var(--font-weigth500);
    font-size: var(--font-small);
    color: var(--text-1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 20px 0px;
    cursor: pointer;
}

.navLinkHead a{
    color: var(--link-color1);
}

.navLinkHead:hover > .navLinkChild{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 15px 25px;
}

.navLinkChild{
    font-weight: var(--font-weigth500);
    font-size: var(--font-exSmall);
    position: absolute;
    left: 0%;
    right: 0%;
    top: calc(100% - 10px);
    background: var(--mainBg);
    box-shadow: var(--box-shadow-1);
    display: none;
    width: fit-content;
    text-wrap: nowrap;
    height: fit-content;
    padding: 0px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
}

.navLinkChild a{
    color: var(--link-color2);
}

/* hamburger styles */
.hiddenHamBar{
    display: none;
}

.hiddenHamBar .hamLines{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 85%;
    height: 4px;
    background: black;
    transform: translate(-50%, -50%);
    transition: transform .5s linear;
}

.hiddenHamBar .hamLines:nth-of-type(2){
    transform: translate(-50%, 120%);
    transition: transform .5s linear;
}

.hiddenHamBar .hamLines:nth-of-type(3){
    transform: translate(-50%, -220%);
    transition: transform .5s linear;
}


.hiddenHamBar .hamLines.active:nth-child(2){
    top: 50%;
    transform: translate(-200%, -50%);
}

.hiddenHamBar .hamLines.active:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hiddenHamBar .hamLines.active:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}






.xsDevice{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: calc(100vh - 83px - 90px);
    overflow: hidden;
    top: 84px;
    left: 0;
    display: none;
    visibility: hidden;
    backdrop-filter: blur(5px);
}

.xsNavigations{
    width: 85%;
    min-height: 100%;
    height: fit-content;
    background: rgba(var(--dark_blue), .95);
    padding: 15px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.navHeadInit{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.headIniter{
    font-size: 18px;
    font-weight: var(--font-weigth700);
    color: var(--text-1);
}

.initerOptions{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-left: 15px;
    height: 0px;
    overflow: hidden;
    transition: height .5s linear;
}

.initerOptions.active{
    height: fit-content;
}

.initerOptions a{
    color: var(--text-1);
    font-size: 15px;
    font-weight: var(--font-weigth500);
    height: 30px;
    display: flex;
    align-items: center;
}

.rightHeadSide{
    width: fit-content;
    height: fit-content;
    min-height: 40px;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.clustered_search{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.clustered_search_init{
    font-size: 20px;
    font-weight: var(--font-weigth700);
    color: white;
}

.clustered_search_cont{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: fit-content;
    display: none;
}

.clustered_search_cont.active{
    display: block;
}

.goToSearch{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.searchBox{
    width: 100%;
    font-size: 16px;
    font-weight: var(--font-weigth700);
    letter-spacing: .5px;
    padding: 10px 50px 10px 30px;
    border: 1px solid gray;
    outline: none;
    z-index: 5;
}

.cancelSearch{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: var(--font-weigth700);
    height: fit-content;
    width: fit-content;
}

.users{
    width: fit-content;
    height: fit-content;
}

.userInfo{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    position: relative;
}

.users_name{
    font-size: 17px;
    font-weight: var(--font-weigth700);
    color: white;
}

.userHero:hover ~ .user_others{
    display: grid;
}

.user_others:hover{
    display: grid;
}

.user_others{
    position: absolute;
    top: calc(100% + 2px);
    background: white;
    width: 150px;
    height: fit-content;
    padding: 5px 0px;
    left: -50%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    display: none;
    z-index: 3;
}

.user_others::after{
    width: 100%;
    height: 100%;
    top: -5px;
    position: absolute;
    left: 0%;
    background: red;
    content: "";
    z-index: 1;
    display: block;
    background: transparent;
    /* visibility: hidden; */
}

.user_others a{
    color: black;
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    z-index: 3;
}

.user_others a:hover{
    color: white;
    background: var(--bgTmdbLightBlue);
}

.user_others .log_out{
    width: 100%;
    color: black;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    z-index: 3;
}

.user_others .log_out:hover{
    color: white;
    background: var(--bgTmdbLightBlue);
}

.userHero{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}


.userInfo2{
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: white;
}

.signUp a,
.signOut a{
    color: white;
}
















@media only screen and (max-width: 750px){

    .mainHeadContainer.active{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .headNavigator{
        display: none;
    }

    .hiddenHamBar{
        display: block;
        border: 1px solid black;
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
    }

    .xsDevice{
        visibility: visible;
        display: block;
        transform: translateX(-500%);
        transition: transform .4s ease-in-out;
    }

    .xsDevice.active{
        transform: translateX(0%);
    }
}